{% extends 'booking/base.html' %}

{% load static %}

{% block body_content %}

<section class="cover about-cover">
    <div class="container-fluid">
        <div class="row">
            <div class="jumbo">
                <h4>About Us</h4>
            </div>
        </div>
    </div>
</section>
<section class="belief">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="main-about">We’re a group of meticulous individuals whose <br> sole purpose is to see
                    your logistics moved <br> and
                    delivered to your satisfaction</h4>
            </div>
        </div>
    </div>

</section>
<div class="rule"></div>
<section class="about-details">
    <p>
        FR Logistics is a trucking and warehousing company that provides its clientele safe, affordable and
        reliable delivery and warehousing services to their specifications. Our customers and potential customers
        alike can be rest assured that they will get quality services at competitive rates. We go the
        extra mile to ensure the safety of goods under our care and that our customers get value for their money. At
        FR logistics, our goal is to provide excellent, fast and reliable logistics services to our customers.
    </p>
    <p>
        FR logistics provides the services of safe keeping and transporting items of individuals, students
        and small scale businesses in Greater Accra, Ashanti and Eastern region to and from the stated regions.
        Luggage collection is done at the customer’s doorstep with time update on the truck location with delivery
        carried out to the customer’s satisfaction.
    </p>
    <p>
        This service will be rendered at very affordable prices where pricing will depend on the number, size and
        weight, and how delicate the items are. FR logistics is willing to pay up to half the price of an item
        or forfeit the service charge depending on the extent of damage on the item of a client.
    </p>
</section>

<div class="rule"></div>

<section class="services" style="margin-top: 50px;">
    <p style="opacity: 0.6; text-transform: uppercase; font-size: 12px; text-align: center;">what we are best at</p>
    <h3>Our Values</h3>
    <div class="container-fluid service-cols">
        <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'booking/images/fast-delivery.png' %}" alt="van" width="25%">
                <h4 class="subheading">Fast delivery</h4>
                <p>FR logistics assures its customers of fast delivery of items to and from locations of
                    choice.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'booking/images/like (1).png' %}" alt="thumbs_up" width="25%">
                <h4 class="subheading">Safe & Reliable</h4>
                <p>All goods taken and services rendered by FR logistics are handled with care. Logistics are
                    stored in warehouses and placed under high security, 24/7.
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'booking/images/money (1).png' %}" alt="wallet" width="25%">
                <h4 class="subheading">Affordable</h4>
                <p>FR logistics' rates are very affordable. It caters for students, SMEs and other individuals alike,
                    promising good rates per items delivered or stored. </p>
            </div>
        </div>
    </div>
</section>
<section class="ceo">
    <h3>Meet the CEO</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="{% static 'booking/images/DSC_Edward.JPG' %}" alt="ceo_image" width="100%">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p>
                    As a sole proprietorship, the company is currently managed by Edward Osei Bonsu. He is a Trainee
                    Structural Engineer with GNPC-Technip Engineering Services Limited. He Completed Kwame Nkrumah
                    University of Science and Technology with Honors in BSc. Mechanical Engineering. While on
                    campus, he held several leadership positions. These included, the University Hall Overseer
                    and Fundraising Committee Chairman for PENSA-KNUST to mention a few.
                </p>
                <p>
                    Growing up, he has been in charge of his
                    father’s shop making him very good and critical about records keeping and being diligent in
                    business dealings. He aspires to become a well-established entrepreneur with a good number of
                    thriving businesses.
                    He looks forward to hiring, as and when needed, people who share similar passion to aid in the
                    administration of his ventures.
                </p>
            </div>
        </div>
    </div>
</section>

{% include 'booking/book_jumbotron.html' %}

{% endblock %}