{% extends 'booking/base.html' %}

{% load static %}

{% block body_content %}

<div class="terms">
    <h5>Terms and
        Conditions</h5>
    <p>• All items including valuables and fragile items must be made known to us for proper handling and care.
    </p>
    <p>
        • Customers have a grace period of 2 weeks after the expiry of warehousing period to take their items or incur
        more cost.
    </p>
    <p>
        • Item collection, storage and delivery is done over the weekend starting on Friday and ending on Sunday.
    </p>
    <p>
        • Booking for our service for a particular weekend ends on the Thursday of that week.
    </p>
    <p>
        • Customers are to ensure that their items are ready for pick up when they book our services for a particular
        weekend.
    </p>
    <p>
        • Price range provided is just an estimation dependent on your items stated. Therefore actual prices will be
        negotiated at pick up.
    </p>
    <p>
        • Items provided for storage or deliveries must be legal items that meet local standards.
    </p>
    <p>
        • Warehousing of items must not exceed a packing height of four(4) meters
    </p>
    <p>
        • All information including contacts provided must be correct and active.
    </p>
    <p>
        • All payments must be done to company representatives in tags or uniforms and a receipt for payment should be
        demanded.
    </p>
</div>
{% include 'booking/book_jumbotron.html' %}

{% endblock %}