{% extends 'booking/base.html' %}

{% load static %}

{% block body_content %}

<div class="terms">
    <h5>Terms and
        Conditions</h5>
    <p>• All items including valuables and fragile items <span>must be made known to us</span> for proper handling and care.
    </p>
    <p>
        • Customers have a <span>grace period of 2 weeks</span> after the expiry of warehousing period to take their items or incur
        more cost.
    </p>
    <p>
        • Item collection, storage and delivery is done <span>over the weekend</span> starting on Friday and ending on Sunday.
    </p>
    <p>
        • Booking for our service for a particular weekend <span>ends on the Thursday</span> of that week.
    </p>
    <p>
        • Customers are to ensure that their <span>items are ready for pick up</span> when they book our services for a particular
        weekend.
    </p>
    <p>
        • Price range provided is just an estimation dependent on your items stated. Therefore <span>actual prices will be
        negotiated at pick up.</span>
    </p>
    <p>
        • Items provided for storage or deliveries must be <span>legal items</span> that meet local standards.
    </p>
    <p>
        • Warehousing of items must not exceed a packing height of <span>four(4) meters.</span>
    </p>
    <p>
        • All information including contacts provided must be correct and active.
    </p>
    <p>
        • All payments must be done to company representatives in tags or uniforms and a <span>receipt for payment should be
        demanded.</span>
    </p>
</div>
{% include 'booking/book_jumbotron.html' %}

{% endblock %}