{% extends 'booking/base.html' %}

{% load static %}

{% block body_content %}

    <div class="terms">
        <h5>Terms and
            Conditions</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, aliquam! Aliquid aut quaerat magni
            numquam?
            Dicta odit laborum quasi amet modi quo natus temporibus aliquid! Vel saepe nulla accusamus qui!</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, harum incidunt nostrum possimus magni,
            atque
            nemo neque, culpa eius dignissimos molestias labore est fuga iure! Atque molestiae tenetur animi ullam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo fugit quos accusantium voluptate ab blanditiis
            quasi at eveniet modi ipsum suscipit corporis quam sapiente architecto vel quisquam consequatur, laboriosam
            qui!
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos necessitatibus, fugiat veniam magnam vero a
            qui
            dicta ipsa molestiae soluta mollitia, natus sint recusandae laudantium blanditiis reiciendis itaque nulla
            adipisci.
        </p>
    </div>
    {% include 'booking/book_jumbotron.html' %}

{% endblock %}